/*body {
}*/
header {
    background: url("../coverimages/bg.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-container {
    height: 100vh;
}

    .banner-container h1 {
        font-size: 3.2rem;
        background-color: rgb((0,0,128));
        padding: 10px 20px;
        border-radius: 5px;
    }