@{
    ViewBag.Title = "About";
    //Layout = null;
}
@*<h2>@ViewBag.Title.</h2>*@
@*<h3>@ViewBag.Message</h3>*@

@*<p>Use this area to provide additional information.</p>*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://use.fontawesome.com/d1341f9b7a.js"></script>

    <link rel="stylesheet" href="~/Content/about.css" />
    <title>Personal WebSite</title>
</head>
<body>
    <div class="box">
        <img src="~/Content/images/profile.jpg" alt="" class="box-img">

        <h5>
            It's not a market
        </h5>
        <h4>
            It's
        </h4>
        <h1>
            Easy Manage
        </h1>
        <p>
            It is an online marketplace, from where people can buy everything they need. According
            to the researchers, we are entering into a new era, where online marketplaces will be the future.
            And, in this pandemic situation, people’s interest for surfing in e-marketplaces is increasing. And, EASY MANAGE is the most
            suitable marketplace for the upcoming era. From Groceries to Vehicles, Everything is available
            here in this website.
        </p>
        <div class="welcome-text">

            <a href="/Home/developer">About Developers </a>
        </div>
    </div>
</body>
</html>


@*https://localhost:44370/Home/developer*@