
@{
    ViewBag.Title = "developer";
}

@*<h2>developer</h2>*@

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>


    <link rel="stylesheet" href="~/Content/developer.css" />
</head>

<body>
    <div class="container">
        <h1 class="heading"><span>team</span>Easy Manage</h1>

        <div class="profiles">
            <div class="profile">
                <img src="~/Content/images/img1.jpg" class="profile-img">

                <h3 class="user-name">Ullash Bhattacharjee</h3>
                <h5>180104103</h5>

            </div>
            <div class="profile">
                <img src="~/Content/images/img2.jpg" class="profile-img">

                <h3 class="user-name">Kaho Fardin Hasib</h3>
                <h5>170204063</h5>

            </div>
            <div class="profile">
                <img src="~/Content/images/img3.jpg" class="profile-img">

                <h3 class="user-name">Mostafizur Rahman</h3>
                <h5>180104112</h5>


            </div>
        </div>
    </div>
</body>

</html>

